.jumbotron {
    background-image: url(library.jpg);
    background-position: center;
}

h1{
 color: gray;
 text-align: left;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

